name: Ultra-RDP-12Hours

on: workflow_dispatch

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Download RustDesk Host
      run: |
        Invoke-WebRequest "https://raw.githubusercontent.com/rustdesk/rustdesk/master/build/win/winhost.exe" -OutFile "rustdesk.exe"

    - name: Install RustDesk
      run: |
        Start-Process .\rustdesk.exe -ArgumentList "/S" -Wait

    - name: Start RustDesk Service
      run: |
        Start-Service RustDesk

    - name: Show RustDesk ID & Password
      run: |
        Get-Content "C:\Program Files\RustDesk\RustDesk\id"
        Get-Content "C:\Program Files\RustDesk\RustDesk\password"

    - name: Keep RDP Alive (12 Hours)
      run: |
        for ($i=0; $i -lt 720; $i++) {
          Write-Host "RDP Running $i min"
          Start-Sleep -Seconds 60
        }
